commands:
  01_install_sqlite:
    command: "yum install -y sqlite"
  02_create_uploads_dir:
    command: "mkdir -p /var/app/current/uploads && chmod 755 /var/app/current/uploads"
  03_prisma_generate:
    command: "cd /var/app/current && npm run build && npx prisma generate"
  04_prisma_deploy:
    command: "cd /var/app/current && npx prisma db push"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: "file:/var/app/current/prod.db"
    UPLOAD_DIR: "/var/app/current/uploads"