commands:
  01_install_sqlite:
    command: "yum install -y sqlite"

container_commands:
  01_create_uploads_dir:
    command: "mkdir -p uploads && chmod 755 uploads"
  02_prisma_generate:
    command: "npx prisma generate"
  03_prisma_deploy:
    command: "npx prisma db push"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: "file:/var/app/current/prod.db"
    UPLOAD_DIR: "/var/app/current/uploads"